.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color:  #5c263893;
    color: #1e1e1e;
}

.box {
    width: 490px;
    background-color: #fafafa8a;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    box-shadow: 0 6px 5px #faf9f933;
}

img {
    width: 6.6%;
}

h2 {
    font-size: 1.2rem;
    height: 5vh;
}

.divForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.linha {
    display: flex;
    gap: 6px;

}

.formGrupo {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    justify-content: flex-end;
}   

label {
    text-align: left;
    font-size: 0.9rem;
}

input {
    padding: 0.8rem;
    width: 100%;
    border-radius: 6px;
    background-color: #ffffffd2;
    border: none;
    outline: none;
}

input:focus {
    box-shadow: inset 0 0 6px #5eb1e8;
}

.divButton {
    margin-top: 3.3vh;
    width: 50%;
}

button {
    padding: 0.8rem;
    width: 100%;
    max-width: 100%;
    background-color: #85c9f7;
    color: #1e1e1e;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #5eb1e8;
}

@media (max-width:430px) {
    .box{
        width: 300px;
    }

}