.login {
  background-image: url("https://wallpapercave.com/wp/wp3018007.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: brightness(0.9) blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.loginBox {
  background-color: rgba(255, 255, 255, 0.747);
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;

  position: relative;
  top: -20px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.link {
  text-decoration: underline;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  align-self: flex-end;
}

.link:hover {
  color: #007bff;
}
