.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem;
    width: 250px;
    box-shadow: 0 6px 5px rgba(250, 249, 249, 0.2);
    color:#111;
    min-height: 400px;
}


.img {
    max-height: 100px;
    width: 100%;
    object-fit:scale-down
  }

.title  {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    height: 4rem;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.description {
    font-size: 0.7rem;
    color: #000000;
    margin-top: 1rem;
}

.botoesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  gap: 12px;
  flex-wrap: wrap;
}


.botaoDescricao {
  background: none;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 6px;
  
}

.botaoDescricao:hover {
  background-color: #007bff;
  color: white;
}


.botaoCarrinho {
  background-color: #00b894;
  color: white;
  border: none;
  padding: 10px 3px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 12px rgba(0, 184, 148, 0.3);
  width: 100%;
}

.botaoCarrinho:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 184, 148, 0.4);
  background-color: #019875;
}


.preco {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.efeitoClique {
  animation: pulse 0.3s ease;
}
